@{
    ViewData["Title"] = "O aplikaci";
}

<body>

    <div id="sirkatextuhlavnistrana" class="domu-article">

        <h3>O aplikaci</h3>

        Tato webová aplikace vznikla jako součást rekvalifikční kurzu <a href="https://www.itnetwork.cz/prace-a-podnikani-v-it/rekvalifikacni-kurzy/rekvalifikacni-kurzy-csharp-net" target="_blank"><strong>Programátor WWW v C#.NET</strong></a> zajišťovaného firmou 
        <a href="https://www.itnetwork.cz/" target="_blank"> <strong>ITnetwork</strong></a>. Aplikace je postavená na technologii ASP.NET Core a implementuje prvky responzivního webdesignu.
        <br /><br />
        Jelikož jde o autorovu prvotinu, lze nalézt významný prostor pro vylepšení aplikace, a to jak z hlediska funkčního, tak designového. Optimalizovaná by měla být např. prezentace
        vložených dat v tabulkách (vizuální oddělení vstupů v jednotlivých dnech, a to zejména u stravy, kde je položek větší množství; případně grafické prezentace se zobrazením časových změn sledovaných parametrů) a současné zobrazení denních dat se souhrnnými denními/měsíčními
        hodnotami. Není též dořešen export získaných dat, případně jejich vytištění v optimalizované formátované podobě.<br /><br />
        Nutno je též zmínit, že při vytváření aplikace došlo k vědomému zjednodušení výpočtu celkové energetické bilance. Zatímco data o přijaté potravě a výdeji energie při sportovních aktivitách lze získat poměrně spolehlivě, výpočet bazálního metabolismu v sobě nezahrnuje
        např. fluktuace související se změnami teploty okolí, duševní aktivitu jedince (včetně stresu), případně další běžné denní činnosti, při nichž je obtížné odhadnout energetický výdej. Největší nadšenci mohou tato omezení částečně řešit celodenním používáním sporttesterů,
        které generují informace o celkovém denním výdeji energie &#128512.
        <br /><br />
        Závěrem by autor rád vyjádřil naději, že i přes nedostatky si aplikace najde své uživatele. Plánuje další práci na jejím vylepšení a implementaci pokročilejších funkcí.
        
    </div>
</body>