@{
    ViewData["Title"] = "Kontakt";
}


<body>

    <section>
        <p class="centrovany">
            <iframe frameborder="0" scrolling="no" width="500" height="220"
                    src="https://www.itnetwork.cz/api/Service-MailForm/6359523dad3521.14274022">
            </iframe>
        </p>
    </section>

    <div>
        <a asp-action="Index" class="pridat-tlacitko">Zpět</a>
    </div>

</body>

