@model IEnumerable<PohybStrava.Models.Diet>

@{
    ViewData["Title"] = "Denní přehled stravy";
}


<body>
    <div id="sirkatextu">
        <h3 id="tabulkynadpis">Strava - denní součty</h3>

        <table class="table" id="centrovanitabulky">
            <thead>
                <tr>
                    <th>
                        Datum (den.měsíc.rok)
                    </th>
                    <th>
                        Energie (kcal)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Den.@item.Mesic.@item.Rok
                        </td>
                        <td>
                            @item.SoucetEnergieDiet
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <br />
        <a asp-action="Index" class="pridat-tlacitko">Zpět na denní hodnoty</a>
    </div>
</body>