@model PohybStrava.Models.PrijemVydejEnergie

@{
    ViewData["Title"] = "Upravit záznam";
}

<body>
    <div id="sirkatextu">
        <h3>Úprava údajů</h3>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PrijemVydejId" />
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DatumDiet" class="control-label"></label>
                        <input asp-for="DatumDiet" class="form-control" />
                        <span asp-validation-for="DatumDiet" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoucetEnergieDiet" class="control-label"></label>
                        <input asp-for="SoucetEnergieDiet" class="form-control" />
                        <span asp-validation-for="SoucetEnergieDiet" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoucetEnergieActivities" class="control-label"></label>
                        <input asp-for="SoucetEnergieActivities" class="form-control" />
                        <span asp-validation-for="SoucetEnergieActivities" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BMR" class="control-label"></label>
                        <input asp-for="BMR" class="form-control" />
                        <span asp-validation-for="BMR" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EnergetickaBilance" class="control-label"></label>
                        <input asp-for="EnergetickaBilance" class="form-control" />
                        <span asp-validation-for="EnergetickaBilance" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="pridat-tlacitko" value="Uložit" />
                    </div>
                </form>
            </div>
        </div>
        <p></p>
        <div>
            <a asp-action="Index" class="pridat-tlacitko">Zpět</a>
        </div>
    </div>
</body>
